<tr id="evaluation_<%= evaluation.id %>">
  <td><%= evaluation.indicator.title unless evaluation.indicator.nil? %></td>
  <td><%= evaluation.area.name unless evaluation.area.nil? %></td>
  <td><%= evaluation.value unless evaluation.nil? %></td>
</tr>
