<div id="initiatives_list" class="row">
    <% @initiatives.each do |initiative|%>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="card-header">
                <h5> <%= initiative.title %> </h5>
          </div>
          <div class="card-body">
                <%= initiative.body %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
</div>
