<div class="wrapper" id="us">
<h1 class="light-green"><img src="/assets/logo.svg" alt="Municipio Verde" width="80px">Municipio Verde</h1>
<h4>Municipio Verde es un proyecto elaborado en la <a href="http://www.fima.cl/category/quienes-somos/staff/">ONG FIMA</a> que tiene por objetivo mejorar la gestión ambiental participativa y fortalecer la democracia ambiental de los gobiernos locales de Chile. Trabajamos en equipo día a día para que cambiar el color de las municipalidades del país.</h4>
</div>
