<div class="wrapper">
  <div class="bg-white padding">
    <div class="row">
      <div class="col-6"><h4>Indicadores ambientales por municipalidad</h4></div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

  <div id="evaluations-content">
  </div>
</div>
