<div id="side_menu">
  <%= render 'layouts/side_menu'%>
</div>
<div class="wrapper content-right">
  <h1>Participa en los proyectos abiertos a observaciones ciudadanas</h1>
  <h4>Realiza <a href="#">Observaciones Ciudadanas</a> a proyectos o actividades en <a href="#">Evaluación Ambiental</a>. Las autoridades están <a href="#">obligadas a considerar tus observaciones</a> para determinar si una actividad o proyecto se ajusta a las normas vigentes.</h4>
  <p>Selecciona tu municipalidad para saber qué proyectos tienen abiertos su proceso de participación ciudadana o en cuáles puedes solicitar que se abra un periodo de observaciones. </p>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>
