<div class="wrapper">
  <div class="bg-white padding">
    <div class="row">
      <div class="col-6"><h4>Indicadores ambientales por municipalidad</h4></div>
      <div class="col-md-3">
        <!-- <div id="eval_indicator_form"> -->

          <!-- <%= select_tag :section, options_from_collection_for_select(Section.all, "id", "title", params[:section] || ""), prompt: "Seleccionar Sección", class: "chosen-select" %> -->
          <%= select_tag :indicator, options_from_collection_for_select(Indicator.all, "id", "title", params[:indicator] || ""), include_blank:  t('.select_indicator'), class: "chosen-select", id: "eval_indicator_select"%>
          <div class="col-lg-6">
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
              <%= form_tag evals_by_indicator_path, :method => :get, :remote => true do |f| %>
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <%= submit_tag t('.select_indicator'), class: "btn btn-default", id:"eval_form_button" %>
          <% end %>
      </div>
    </div>
  </div>

  <div id="evaluations-content">
  </div>
</div>
