<div class="bg-white">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-md-6">
      <div id="eval_indicator_form">
        <%= form_tag evals_by_indicator_path, :method => :get do |f| %>
        <!-- <%= select_tag :section, options_from_collection_for_select(Section.all, "id", "title", params[:section] || ""), prompt: "Seleccionar Sección", class: "chosen-select" %> -->
        <%= select_tag :indicator, options_from_collection_for_select(Indicator.all, "id", "title", params[:indicator] || ""), include_blank:  t('.select_indicator'), class: "chosen-select", id: "eval_indicator_select"%>
        <%= submit_tag t('.select_indicator'), class: "btn", id:"eval_form_button" %>
        <% end %>

      </div>
    </div>
</div>

</div>
