<section id="home">
  <div class="hero-content">
    <h1><img src="/assets/logo.svg" alt="Municipio Verde">Municipio Verde</h1>
    <h1><a href="#" class="">Infórmate.</a> Peñalolén  tiene  5  ciclovías. <a href="#" class="">Evalúa.</a> Los vecinos le han puesto un  3.5  a las iniciativas ambientales de  Peñalolén. <a href="#">Participa.</a> Estás a tiempo de realizar observaciones en  2 proyectos que se van a hacer en Peñalolén.</h1>
    <div class="row">
      <div class="col-md-3"><p>Conoce el compromiso ambiental de tu comuna</p></div>
      <div class="col-md-3"><p>Ponle nota a las iniciativas ambientales de tu comuna</p></div>
      <div class="col-md-3"><p>Realiza Observaciones Ciudadanas a proyectos en Evaluación Ambiental</p></div>
    </div>
  </div>


    <%= map(:center => {
    :latlng => [-33.446165, -70.665767],
    :zoom => 18
  }) %>

</section>
