
<section id="home">

  <div class="col-10">
    ¿Es tu municipio un municipio verde?

    <ul>
      <li>
        Informate
      </li>
      <li>
        Opina
      </li>
      <li>
        Fiscaliza
      </li>
    </ul>

    </div>

    <%= map(:center => {
    :latlng => [-33.446165, -70.665767],
    :zoom => 18
  }) %>

</section>
