<%= render 'layouts/side_menu'%>
<div class="col-10">
  ¿Es tu municipio un municipio verde?

  <ul>
    <li>
      Informate
    </li>
    <li>
      Opina
    </li>
    <li>
      Fiscaliza
    </li>
  </ul>

  </div>
