development:
  BASE_URL: ''
  BASE_URL_PORT: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: 'lab@ciudadanointeligente.org'
  GOOGLE_MAPS_API_KEY: ''
  SECRET_KEY_BASE: ''
  FB_APP_ID: ''
  FB_APP_SECRET: ''
  GOOGLE_APP_ID: ''
  GOOGLE_APP_SECRET: ''
  GOOGLE_ANALYTICS_CODE: ''
test:
  BASE_URL: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: 'test@test.com'
  GOOGLE_MAPS_API_KEY: ''
  SECRET_KEY_BASE: ''
  FB_APP_ID: ''
  FB_APP_SECRET: ''
  GOOGLE_APP_ID: ''
  GOOGLE_APP_SECRET: ''
  GOOGLE_ANALYTICS_CODE: ''
production:
  BASE_URL: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: 'test@test.com'
  GOOGLE_MAPS_API_KEY: ''
  SECRET_KEY_BASE: ''
  FB_APP_ID: ''
  FB_APP_SECRET: ''
  GOOGLE_APP_ID: ''
  GOOGLE_APP_SECRET: ''
  GOOGLE_ANALYTICS_CODE: ''
