<div id="post_detail-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Post </h4>
      </div>
        <%= @post.title %>
        <br>
        <%= @post.image.url unless @post.image.nil?%>
        <br>
        <%= @post.body %>

        <%= render 'disqus' %>
      </div>
    </div>
  </div>
