// Colors
$light-green: #A5CC1D;
$green: #3FAB66;
$orange: #E76C11;

$grey-one: #403939;
$grey-two: #837B7B;
$grey-three: #AFA5A5;
$grey-four: #E0DDDD;
$grey-five: #F4F1F1;
$grey-six: #FAFAFA;

html, body {
    height:100%;
}

body{
  background-color: #FAFAFA;
  font-family: 'Palanquin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #403939;
}

h1 {
  font-size: 5vmin;
  font-weight: 100;
  line-height: 9vmin;
}

h2 {
  font-size: 4vmin;
  font-weight: 100;
  line-height: 45px;
  color: #403939;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  color: $grey-three;
  line-height: 33px;
  margin-bottom: 30px;
}

h5 {
  font-size: 18px;
  color: $grey-one;
}

hr {
  border-top: 1px solid $grey-four;
}

.bajada {
  margin-top: -20px;
  margin-bottom: 30px;
}

.text-width {
  max-width: 900px;
}

a {
  color: $green;
  &:hover {
    color:darken( $green, 10% );
    text-decoration: none;
  }
}

p {
  font-size: 14px;
  color: #AFA5A5;
  line-height: 18px;
}

.tooltip {
  font-size: 14px;
}

.light-green {
    color: $light-green;
}

.green {
    color: $green;
}

.orange {
    color: $orange;
}

.content-right {
  margin-left: 104px;
}

.text-light {
  color: $grey-three;
}

hr {
    margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .content-right {
    margin-left: 88px;
  }
}

.bg-white {
  background: white;
}

.wrapper {
  padding: 75px 15px 75px 30px;
}

.padding {
  padding: 40px 30px;
}

.number {
  font-size: 144px;
  font-weight: 100;
  margin-bottom: 80px;
}

.number img {
    margin: 0px 0px -20px;
}

// Btn

.btn {
  padding: 1rem 3rem;
  font-size: 14px;
}

.btn-lg, .btn-group-lg > .btn {
    font-size: 24px;
}

.btn-primary {
  background-color: #A5CC1D;
  border-color: #A5CC1D;
  &:hover {
    background-color: darken($light-green, 10%);
    border-color: darken($light-green, 10%);
  }
}

.btn-default {
  background-color: #3FAB66;
  border-color: #3FAB66;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: darken($green, 10%);
    border-color: darken($green, 10%);
  }
}

.btn-danger {
  background-color: $orange;
  border-color: $orange;
}

.border {
  border-right: 1px solid $grey-five;
}

// Nav

#side_menu {
  width: 104px;
  background: white;
  height:100%;
  position: fixed;
  z-index: 1;
}

#side_menu a:hover {
  color: $light-green;
}

#side_menu .nav-link {
  border: 1px solid #Fafafa;
  height: 94px;
  color: #8C9398;
  text-align: center;
  padding: 20px 15px;
  line-height: 24px;
  background: white;
}

@media (max-width: 600px) {
  #side_menu {
    width: 80px;
  }

  .nav-link {
    height: 80px;
    padding: 20px 10px;
    font-size: 11px;
    line-height: 16px;
  }
}

.nav-link:hover path {
    stroke: #A5CC1D;
}

// Table

.table-inverse {
  color: $grey-three;
  background-color: white;
}

.table-inverse tr {
    line-height: 50px;
}

.table th, .table td {
  border-top: 10px solid $grey-six;
  padding: 0.75rem 30px;
}

// Form

.form-group {
  line-height: 42px;
  margin: 40px 0;
}

label {
  color: $grey-three;
  font-size: 14px;
  margin-right: 9px;
}

input {
  border-radius: 4px;
  font-family: 'Palanquin', sans-serif;
  padding: 0px 10px;
  border: 1px solid $grey-five;
  color: $grey-one;
}

input.string, input.password {
    width: 100%;
}

input.boolean {
    margin-right: 5px;
}

.input {
    margin-bottom: 10px;
}

.chosen-container-single .chosen-single {
    padding: 7px 0 0 8px;
    height: 39px;
    border: 1px solid $grey-four;
    box-shadow: none;
    color: $grey-one;
    margin-right: 5px;
}

.chosen-container-single .chosen-single div b {
    background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 0px 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 10px;
}


// Home

.hero-content {
    height:100vh;
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(250,250,250,0) 100%);
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 48%,rgba(250,250,250,0) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 48%,rgba(250,250,250,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00fafafa',GradientType=0 );
}

#home {
  background-image: url('/assets/bg.png');
  background-repeat: repeat;
  background-position-y: 100%;
  background-position-x: -3%;
}

@media (max-width: 1200px) {
  #home {
    background-image: none;
  }
}

#home h1 {
  margin-bottom: 60px;
}

#home p {
    margin-bottom: 20px;
}

#home h1 img, #us h1 img {
    margin: 0px 20px -12px 0px;
}

#home a:hover {
  text-decoration: none;
}

// Indicadores

.bg-white h4 {
  margin-bottom: 4px;
}

// Iniciativas

.cd-project-content .bg-white {
  padding: 25px 30px;
  margin-bottom: 30px;
}

.cd-project-content div img {
    margin-bottom: 20px;
}
